<section class="section">
  <div clas="wrapper">
    <div class="hero-content">
      <h2 class="hero-heading fw-bold pt-10">Play Football <br> </h2>

      <h2 class="sub-heading fw-bold" >Whenever You Want</h2>

      <div class="search-field">
        <h1>Find a game near you</h1>
        <input
          type="text"
          class="form-control"
          placeholder="City, postcode or area."
          aria-label="Recipient's username"
         
        />
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="button">
          Search for games
        </button>
      </div>
    </div>
  </div>
</section>
