<section class="section">
  <div clas="wrapper">
    <div class="hero-content">
      <h2 class="hero-heading fw-bold pt-10">Play Any Sports <br /></h2>

      <h2 class="sub-heading fw-bold pb-10">Whenever You Want</h2>

      <div class="search-field">
        <h1 clas="find-heading fw-bold">Find a game near you</h1>
        <div class="position-relative">
          <button class="icon-button p-1 mb-3 position-absolute">
            <i class="bi bi-search"></i>
          </button>
          <input
            type="text"
            class="form-control mb-3 "
            placeholder="City, postcode or area."
          />
        </div>
        <button class="btn-search fw-bold my-2 my-sm-0 pt-2" type="button">
          Search for games
        </button>
      </div>
    </div>
  </div>
</section>
