<div class="container py-5 mt-5 h-100 d-flex justify-content-center align-items-center">
    <div class="card shadow p-4" style="max-width: 400px; border-radius: 1rem;">
      <div class="card-body mb-5">
        <h3 class="text-center mb-4">Login</h3>
        <form [formGroup]="registerForm" (ngSubmit)=" onSubmit()">

            <div class="mb-3">
                <label for="name">Name</label>
                <input 
                  type="name" 
                  class="form-control" 
                  id="name" 
                  formControlName="name" 
                  required>
                <div *ngIf="registerForm.controls['name']?.touched && registerForm.controls['mbebo']?.invalid" class="text-danger mt-1">
                  Please enter a valid email address.
                </div>
              </div>

              <div class="mb-3">
                <label for="email">Email</label>
                <input 
                  type="email" 
                  class="form-control" 
                  id="email" 
                  formControlName="email" 
                  required>
                <div *ngIf="registerForm.controls['email']?.touched && registerForm.controls['email']?.invalid" class="text-danger mt-1">
                  Please enter a valid email address.
                </div>
              </div>
          
          <!-- Email Field -->
          <div class="mb-3">
            <label for="email">Email</label>
            <input 
              type="email" 
              class="form-control" 
              id="email" 
              formControlName="email" 
              required>
            <div *ngIf="registerForm.controls['email']?.touched && registerForm.controls['email']?.invalid" class="text-danger mt-1">
              Please enter a valid email address.
            </div>
          </div>

           <!-- Password Field -->
  
          <div class=" mb-4">
            <label for="password">Password</label>
            <input
              type="password"
              minlength="6"
              class="form-control"
              id="password"
              formControlName="password"
              required>
            <div *ngIf="registerForm.controls['password']?.touched && registerForm.controls['password']?.invalid" class="text-danger mt-1">
              Password is required.
            </div>
          </div>

          <!-- Login Button -->
          <button type="submit" class="btn btn-dark w-100">Login</button>
          <p class="mt-2">Don't have an account? <a href="/register" class="register-here fw-bold">Register Here!</a></p>

        </form>
      </div>
    </div>
  </div>
  
