<nav class="navbar navbar-expand-lg m-10 bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/home">Footy Addicts</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active fw-bold"
            aria-current="page"
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="#"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active fw-bold"
            aria-current="page"
            routerLink="/pitches"
            >Book a Game</a
          >
        </li>
      </ul>
      <div class="d-flex gap-2">
        <button
          class="btn-register fw-bold"
          [routerLink]="['/register']"
          type="submit"
        >
          Register
        </button>
        <button
          class="btn-login fw-bold"
          [routerLink]="['/login']"
          type="submit"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</nav>
