.navbar {
    padding: 20px;
    /* margin-left: 50px; */
}

.btn-register {
    /* border: solid 1px black; */
    outline: none;
    border: none;
    height: 45px;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    color: black;

}

.btn-login {
    /* border: solid 1px rgb(26, 23, 23); */
    background-color: black;
    outline: none;
    border: none;
    height: 45px;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin-right: 50px;
}