
<div class="card-deck">
    <h1 class="text-center pb-3">Find. Book. Play</h1>
   
    <div class="card gap-5 display-flex flex-row">
        <div class="image-card gap-5">
      <img src="./images/book-next-game.png" class="card-img-top"  alt="Book Next Game">
      <div class="card-body">
        <h5 class="card-title">Find your nearest football pitch with a quick scroll.</h5>
      </div>
    </div>

    <div class="image-card">
        <img class="card-img-top" src="./images/find-local-games.png" alt="Find Local Games">
      <div class="card-body">
        <h5 class="card-title">Find your nearest football pitch with a quick scroll.</h5>
      </div>
      </div>

      <div class="image-card">
        <img class="card-img-top" src="./images/play-best-game.png" alt="Play Best Game">
      <div class="card-body">
        <h5 class="card-title">Find your nearest football pitch with a quick scroll.</h5>

      </div>
    </div>

