/* 
.card {
  float: left;
  width: 30%;
  gap: 2rem;
} */


.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
  cursor: pointer;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  gap: 3rem; 
}
