<div class="pitch-content">
<div class="heading align-items-center ">
    <h1 class="pitch-heading heading mb-3 fw-bold">Where the football magic happens</h1> 
    <h3 class="pitch-sub-heading fw-semibold">Best pitches to play </h3>       
    </div>
 <!-- first three -->
    <div class="pitch-container d-flex gap-4">
    <div class="pitch-card">
      <img src="./images/pitch-1.png" class="card-img-top " alt=" UJ Orban Hockey Field">
      <div class="card-body pt-2">
        <h5 class="card-title fw-bold d-flex justify-content-between"> UJ Orban Hockey Field <span class="rating-icon"><i class="bi bi-star"></i>4.6</span></h5>
        <p class="card-text pb-5">Korea Rd & Ayr Rd, Melville, Johannesburg</p>
      </div>
    </div>
    <div class="pitch-card">
      <img src="./images/pitch-2.png" class="card-img-top" alt="Wits Sports Society">
      <div class="card-body pt-2">
        <h5 class="card-title fw-bold d-flex justify-content-between ">Wits Sports Society <span class="rating-icon"><i class="bi bi-star"></i>4.9</span></h5>
        <p class="card-text pb-5">Korea Rd & Ayr Rd, Melville, Johannesburg</p>
      </div>
    </div>
    <div class="pitch-card">
      <img src="./images/pitch-3.png" class="card-img-top" alt="Home of Wits Hockey">
      <div class="card-body pt-2">
        <h5 class="card-title fw-bold d-flex justify-content-between">Home of Wits Hockey <span class="rating-icon"><i class="bi bi-star"></i>4.9</span></h5>
        <p class="card-text pb-5">Korea Rd & Ayr Rd, Melville, Johannesburg</p>
      </div>
    </div>
  </div>


  <div class="pitch-container d-flex gap-4">
    <div class="pitch-card">
      <img src="./images/pitch-4.png" class="card-img-top" alt=" UJ Orban Hockey Field">
      <div class="card-body pt-2">
        <h5 class="card-title fw-bold d-flex justify-content-between"> UJ Orban Hockey Field <span class="rating-icon"><i class="bi bi-star"></i>4.8</span></h5>
        <p class="card-text pb-5">Korea Rd & Ayr Rd, Melville, Johannesburg</p>
      </div>
    </div>
    <div class="pitch-card">
      <img src="./images/pitch-5.png" class="card-img-top" alt="Wits Sports Society">
      <div class="card-body pt-2">
        <h5 class="card-title fw-bold d-flex justify-content-between">Wits Sports Society <span class="rating-icon"><i class="bi bi-star"></i>4.7</span></h5>
        <p class="card-text pb-5">Korea Rd & Ayr Rd, Melville, Johannesburg</p>
      </div>
    </div>
    <div class="pitch-card">
      <img src="./images/pitch-6.png" class="card-img-top" alt="Home of Wits Hockey">
      <div class="card-body pt-2">
        <h5 class="card-title fw-bold d-flex justify-content-between">Lenhazel Courts (JHB) <span class="rating-icon"><i class="bi bi-star"></i>4.9</span></h5>
        <p class="card-text pb-5">Korea Rd & Ayr Rd, Melville, Johannesburg</p>
      </div>
    </div>
  </div>
</div>
