<div class="container">
  <div class="container-right">
    <img
      class="pitch-details-img"
      [src]="pitch?.image_url"
      [alt]="pitch?.name"
    />
    <h1 class="description fs-6 mt-2"> {{ pitch?.description }}</h1>
  </div>
  <div class="container-left p-5">
    <h2 class="fw-bold">{{ pitch?.name }}</h2>
    <p class="fw-bold">{{ pitch?.address }}</p>
    <span class="star-icon">⭐</span> {{ pitch?.rating }}
    <p>Price: R{{ pitch?.price }}</p>
    <p>Duration: {{ pitch?.duration }}</p>

    

    <a
      class="book-link cursor-pointer fw-bold td-underline"
      (click)="openCalendar()"
      >Click here to book this pitch</a>

      <!-- <mbsc-datepicker
    [controls]="['calendar', 'time']"
    [touchUi]="true"
    [value]="selectedDate"
    (onChange)="onDateTimeChange($event)">
</mbsc-datepicker> -->

    <mat-card class="calendar-card" *ngIf="calendarVisible">
      <p class="fw-bold mt-3">Please choose a date and time:</p>
      <mat-calendar
        #calendar
        (selectedChange)="onDateSelect($event)"
      ></mat-calendar>
    </mat-card>

    <mat-form-field *ngIf="calendarVisible">
      <mat-label>Pick a time</mat-label>
      <input
        matInput
        [matTimepicker]="picker"
        [value]="selectedTime"
        (selectedChange)="onTimeChange($event)"
      />
      <mat-timepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matTimepickerToggleIcon>keyboard_arrow_up</mat-icon>
      </mat-timepicker-toggle>
      <mat-timepicker
        #picker
        panelClass="custom-timepicker-panel"
      ></mat-timepicker>
       
    </mat-form-field> 
    

    <p *ngIf="selectedDate">{{ selectedDate | date : "fullDate" }} at {{ selectedTime | date : "shortTime" }}</p>
    <p *ngIf="selectedTime">{{ selectedTime | date : "shortTime" }}</p>

    <button *ngIf="calendarVisible">Book Pitch</button>

    
  </div>
</div>
