
.container {
    /* height: 400px; */
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* width: 200px; */
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

/* .book-link {
    text-decoration: underline;

} */

.book-btn:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}


/* .demo-inline-calendar-card {
    max-width: 400px;
    margin: 0 auto;
  }
  
  mat-calendar {
    margin-top: 10px;
  } */
  
/* .pitch-details-img {
    object-fit: cover;
} */