
.container {
    /* height: 400px; */
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* width: 200px; */
}

img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
}

.book-link {
    text-decoration: underline;
    cursor: pointer;
    color: black;

}

.book-link:hover {
    color: blue;
}

.book-btn:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

.mat-calendar-selected {

    background-color: yellow !important;
    color: black !important;
    border-radius: 50% !important;
    width: 30px; 
    height: 30px; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }

  mat-calendar {
    margin-top: 10px;
    padding: 10px;
  } 


  .custom-timepicker-panel .mat-timepicker-content {
    top: auto !important;
    bottom: 0 !important; 
  }

  button {
    padding: 8px;
    font-weight: bold;
    background-color: #000000;
    border: none;
    color: #ffffff; 
  }

  button:hover {
    background-color: #ffffff;
    color: black;
    font-weight: bold;
    border: 2px solid black;
  }

  .confirmation-message {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #4caf50;
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 5px;
  }
  .error {
    color: red;
  }
  
  
  



/* .demo-inline-calendar-card {
    max-width: 400px;
    margin: 0 auto;
  }
  
  mat-calendar {
    margin-top: 10px;
  } 
  
/* .pitch-details-img {
    object-fit: cover;
} */